.experience-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'NotoSans', sans-serif;
    padding: 20px; /* Add padding to the container */
  }
  
  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .experience-title {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .experience-title span:first-child {
    margin-right: 10px;
  }
  
  .toggle-icon {
    font-size: 1.2em;
  }
  
  .experience-content {
    padding-top: 15px; /* Adjust top padding for spacing */
  }

  .exp-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-experience-button {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 3px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  
  .add-experience-button:hover {
    background-color: #e9ecef;
  }
  
  .experience-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  label .optional {
    font-weight: normal;
    font-size: 0.8em;
    color: #999;
    margin-left: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f1f3; /* Light grey color for input fields */
    font-size: 1em;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #bbb;
    font-size: 0.9em;
  }
  
  input:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
    background-color: #e9ecef;
  }
  
  textarea {
    resize: none;
    height: 100px; /* Adjust the height as needed */
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .delete-button {
    background-color: #f9f9f9;
    color: grey;
    border: 1px solid grey;
    padding: 10px 15px; /* Reduced padding to make the button smaller */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-right: auto; /* Ensure this pushes the buttons apart */
  }
  
  .cancel-button {
    background-color: #f9f9f9;
    color: grey;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-right: 10px; /* Add margin-right to create space between Cancel and Save */
  }
  
  .save-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  